<?xml version="1.0"?>
<model>
  <name>charge_station</name>
  <version>1.0</version>
  <description>
    leonardo dynamic obstacle
  </description>
  <author>
    <name>Alessandro De Crescenzo</name>
    <email>ale-dc@live.it</email>
  </author>
  <sdf version='1.4'>charge_station.sdf</sdf>
</model>


